@model IEnumerable<Projet.Core.Domain.Produit>

<h1 class="mb-4">Nos Produits</h1>

<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <img src="~/images/@p.Photo" class="card-img-top" alt="@p.Nom_Produit" />
                <div class="card-body">
                    <h5 class="card-title">@p.Nom_Produit</h5>
                    <p class="card-text">@p.Description</p>
                    <p class="card-text"><strong>@p.Prix €</strong></p>
                    <p class="card-text">Stock : @p.Stock</p>
                </div>
            </div>
        </div>
    }
</div>
